<%- include("../partials/user/header") %>


<!-- Start hero -->
<section class="hero_banner">
  <div class="hero_image_wrapper">
    <img src="/assets/img/HP_DK_SU25_11_LOOKS_2600x1300_2x1.avif" alt="Hero Banner" class="hero_banner_img">
    <a href="/shop" class="hero_shop_btn">Shop Now</a>
  </div>
</section>
<!-- End hero -->

<!-- Start category -->
<div class="container-fluid">
  <div class="cs_grid_list">
    <% const categories = [
      { name: "Men", image: "men.jpg" },
      { name: "Women", image: "women.jpg" },
      { name: "Children", image: "children.jpg" }
    ]; %>

    <% categories.forEach(category => { %>
      <div class="cs_category cs_style_1">
        <a href="/shop" class="cs_category_thumb position-relative">
          <img src="/assets/img/<%= category.image %>" alt="<%= category.name %>" class="w-100">
          <span class="cs_category_btn">
            <span><%= category.name %></span>
            <span><i class="fa-solid fa-arrow-right"></i></span>
          </span>
        </a>
      </div>
    <% }) %>
  </div>
</div>
<!-- End category -->

<!-- Start featured Items -->
<div class="container">
  <div class="cs_height_120"></div>
  <h2 class="cs_section_title">New Arrivals</h2>
  <div class="cs_product_grid">
    <% const products = [
      { name: "Stone Cup", image: "MP2.jpg" },
      { name: "Gray Bag", image: "WP2.jpg" },
      { name: "Wooden Chair", image: "MP3.jpg" },
      { name: "Modern Stool", image: "MP4.jpg" }
    ]; %>

    <% products.forEach(product => { %>
      <div class="cs_product">
        <div class="cs_product_thumb">
          <img src="/assets/img/<%= product.image %>" alt="<%= product.name %>">
          <div class="cs_wishlist_btn">
            <i class="fa-regular fa-heart"></i>
          </div>
        </div>
        <div class="cs_product_info">
          <h3 class="cs_product_title">
            <a href="#"><%= product.name %></a>
          </h3>
          <div class="cs_product_price">
            <span class="cs_original_price">₹4600</span>
            <span class="cs_current_price">₹2999</span>
            <span class="cs_discount_text">35% OFF</span>
          </div>
        </div>
      </div>
    <% }) %>
  </div>
  <div class="text-center mt-4">
    <a href="/shop" class="cs_btn cs_view_all_btn">View All</a>
  </div>
</div>
<!-- End featured Items -->

<!-- Start collection 1 -->
<section>
  <div class="cs_height_140 cs_height_lg_80"></div>
  <div class="cs_card cs_style_1">
    <div class="container">
      <div class="row cs_gap_y_30 align-items-center">
        <div class="col-lg-6">
          <div class="cs_card_thumb">
            <img src="/assets/img/card1.jpg" alt="Card Image" class="w-100">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="cs_card_info">
            <h2 class="cs_card_title cs_fs_50 cs_bold">Explore our latest winter fashion collection</h2>
            <p class="cs_card_subtitle">We believe that winter fashion should be both functional and fabulous.<br>Our Winter Fashion Collection reflects our commitment to quality, comfort <br>and style. Embrace the season with confidence.</p>
            <a href="/shop" class="cs_btn cs_style_1 cs_fs_16 cs_medium">Shop Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="cs_height_120 cs_height_lg_70"></div>
</section>
<!-- End collection 1 -->

<%- include("../partials/user/footer") %>
